//fiil proper env file
# Ignore environment variable files
.env
.env.local
.env.*.local
.env.test
.env.production
# Ignore database files
*.sqlite
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore Docker files
docker-compose.override.yml
.docker/
# Ignore IDE files
.vscode/
.idea/
*.iml
# Ignore log files
